<?xml version="1.0"?>
<!--
  ~ Illia Neiman
  ~
  ~ NOTICE OF LICENSE
  ~
  ~ According to LICENCE file you are not allowed to copy, use or recreate this file in any ways.
  ~ Specially for eCommerce usage.
  ~
  ~ @category Ineiman
  ~ @package TikTok
  ~ @copyright Copyright (c) 2021-current Ineiman (https://github.com/illyaneiman)
  ~ @email kg.illya.ney@gmail.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tiktok>
            <general>
                <enabled>1</enabled>
                <tiktok_api_url>https://business-api.tiktok.com/open_api/v1.3/event/track/</tiktok_api_url>
                <debug>1</debug>
            </general>
        </tiktok>
    </default>
</config>
